/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  opacity: 1;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
  background-color: #b0b0b0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 0;
}

.footer > .container {
  padding-right: 0px;
  padding-left: 0px;
}

code {
  font-size: 80%;
}

.product {
    font-family: 'Rokkitt', serif;
}

.product-price {
    font-size: 25px;
    font-weight: bold;
}


/* Custom Hover.css
-------------------------------------------------- */

/* Border Fade */
.hvr-border-fade {
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 0 #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
}
