<header ng-include="'js/app/header.html'"></header>
<div class="container-fluid">
    <div class="row" style="margin-top: 70px">
        <div class="col-12">
            <div class="row">
                <div class="col-2 mx-auto">
                    <h3>Nuevo usuario</h3>
                </div>
            </div>
            <hr />
            <div class="row" ng-show="created">
                <div class="col-3 mx-auto">
                    <form name="userForm">
                        <div class="form-group" ng-class="{ 'has-error' : userForm.dni.$invalid && !userForm.dni.$pristine }">
                            <label>DNI</label>
                            <input type="text" class="form-control" id="dni" name="dni" ng-model="dni" ng-required="true" ng-pattern="/^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]$/"
                                   />
                            <div ng-show="userForm.dni.$error.pattern" class="alert alert-danger" role="alert">
                                Formato dni no valido
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" ng-model="nombre" ng-required="true" />
                            <div ng-show="!userForm.nombre.$valid && userForm.nombre.$dirty" class="alert alert-danger" role="alert">
                                Nombre obligatorio
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Primer apellido</label>
                            <input type="text" class="form-control" id="ape1" name="ape1" ng-model="ape1" ng-required="true" />
                            <div ng-show="!userForm.ape1.$valid && userForm.ape1.$dirty" class="alert alert-danger" role="alert">
                                Primer apellido obligatorio
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Segundo apellido</label>
                            <input type="text" class="form-control" id="ape2" name="ape2" ng-model="ape2" ng-required="true" />
                            <div ng-show="!userForm.ape2.$valid && userForm.ape2.$dirty" class="alert alert-danger" role="alert">
                                Segundo apellido obligatorio
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Login</label>
                            <input type="text" class="form-control" id="login" name="login" ng-model="login" ng-required="true" />
                            <div ng-show="!userForm.login.$valid && userForm.login.$dirty" class="alert alert-danger" role="alert">
                                Login obligatorio
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" class="form-control" ng-class="{' is-invalid': userForm.pass.$invalid && !userForm.pass.$pristine}"
                                   id="pass" name="pass" ng-model="pass" ng-required="true"/>
                            <div ng-show="!userForm.pass.$valid && userForm.pass.$dirty" class="alert alert-danger" role="alert">
                                La contraseña es obligatoria.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Tipo usuario</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#cadd-location-modal">
                                                <i class="fas fa-search-plus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control " value="ID :" disabled>
                                        <input type="text" class="form-control " id="obj_tipoUsuario.id" name="obj_tipoUsuario.id" ng-model="obj_tipoUsuario.id"/>
                                    </div>
                                    <input type="text" class="form-control " value="Desc :" disabled>
                                    <input type="text" class="form-control " id="obj_tipoUsuario.desc" name="obj_tipoUsuario.desc" ng-model="obj_tipoUsuario.desc"/>
                                </div>
                            </div>
                        </div>
                        <cadd-modal-var class="modal fade ng-isolate-scope" id="cadd-location-modal" tabla="'tipousuario'" data="obj_tipoUsuario"
                                        aria-hidden="true" style="display: none;"></cadd-modal-var>
                        <div class="d-flex justify-content-between flex-wrap">
                            <button ng-click="create()" type="button" class="btn btn-primary" ng-disabled="userForm.$invalid">Crear</button>
                            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Volver</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" ng-show="!created">
                <div class="col-12">
                    <div class="alert alert-success d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3" role="alert">
                        <p>Registro creado con exito<p> <button type="button" class="btn btn-light" onclick="window.history.back()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>