<header-component></header-component>
<div class="container-fluid">
    <div class="row mb-5" style="margin-top: 90px" >
        <div class="col-12">
            <div class="row">
                <div class="col-12" style="text-align: center">
                    <h3>Nueva línea para la factura {{facturaid}}</h3>
                </div>
            </div>
            <hr />
            <div class="row" ng-show="created">
                <div class="col-4 mx-auto">
                    <form name="userForm">
                        <div class="form-group">
                            <label>Cantidad</label>
                            <input type="text" class="form-control" id="cantidad" name="cantidad" ng-model="cantidad" ng-required="true" />
                            <div ng-show="!userForm.cantidad.$valid && !userForm.cantidad.$pristine" class="alert alert-danger" role="alert">
                                Campo obligatorio.
                            </div>
                        </div>
                        
                        <!--PRODUCTO-->
                        
                        <label for="obj_producto">Producto:</label>
                        <div class="form-group row" style="padding-left:15px;">
                            <producto-selection 
                                class="modal fade" 
                                id="cadd-location-modal" 
                                obj="obj_producto"
                                on-producto-set="productoRefresh(this,false)">                          
                            </producto-selection>

                            <div class="control">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                              data-toggle="modal"
                                              data-target="#cadd-location-modal">
                                            <span class="fas fa-search"></span>
                                        </span>
                                    </div>
                                    <input ng-model="obj_producto.id"
                                           ng-change="productoRefresh(this, true)"
                                           aria-describedby="basic-addon2"
                                           class="form-control col-sm-2"
                                           id="obj_producto"
                                           name="obj_producto"
                                           type="text"
                                           ng-required
                                           ng-model-options="{debounce: 1000}"
                                           maxlength="2" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <a href="/trolleyes-client/public_html/producto/view/{{obj_producto.id}}">
                                                <span class="p-2 bd-highlight"><i class="fas fa-box-open"></i></span>
                                                Producto: {{obj_producto.desc}}
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div ng-show="!userForm.obj_producto.$valid">Producto no válido</div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap">
                            <button ng-click="create()" type="button" class="btn btn-primary" ng-disabled="userForm.$invalid">Crear</button>
                            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Volver</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row d-flex justify-content-center" ng-show="!created">
                <div class="col-6">
                    <div class="alert alert-success d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3" role="alert">
                        <p>Registro creado con éxito con número de ID: {{id}}<p> <button type="button" class="btn btn-secondary" onclick="window.history.back()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-component></footer-component>